/.phpunit.cache
/bootstrap/ssr
/node_modules
#/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.local
.env.prod
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

test_*.php
fix_*.php
*_test.php
*_fix.php
analyze_*.php
*_analyze.php
update_*.php
*_update.php
check_*.php
*_check.php
